<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>NWS: info</title>
  </head>
  <body>
    <div
      class="flex flex-col relative min-h-[100vh] w-[100vw] bg-[url(/bgimg2.jpg)] bg-no-repeat bg-cover bg-center font-mono"
    >
      <div class="pb-[20vh]"><%- include("../components/nav"); %></div>
      <div>Series Not Found</div>
    </div>
  </body>
</html>
