<div class="absolute left-0 z-[100] bottom-0 w-[100vw] h-[20vh] m-0">
  <div
    class="flex absolute right-0 bottom-0 space-x-10 w-[70vw] h-[20vh] animated"
  >
    <img class="h-[20vh] w-[40vw]" src="/alex.jpeg" alt="slider-img" />
    <img class="h-[20vh] w-[40vw]" src="/kabiyesi.jpg" alt="slider-img" />
    <img class="h-[20vh] w-[40vw]" src="/wura.jpeg" alt="slider-img" />
    <img class="h-[20vh] w-[40vw]" src="/chetam.jpg" alt="slider-img" />
    <img class="h-[20vh] w-[40vw]" src="/siblings.jpg" alt="slider-img" />
  </div>
  <div class="absolute right-0 w-[15vw] h-[20vh] text-center bg-gray-50 opacity-90">
    <span class="mt-10">TOP RATED SHOWS</span>
  </div>
</div>
