<div
  class="hidden md:flex absolute left-0 z-[100] bottom-0 w-[100vw] md:h-[18vh] lg:h-[20vh] m-0"
>
  <div
    class="hidden md:flex absolute right-0 bottom-0 md:space-x-4 md:w-[100vw] md:h-[18vh] lg:space-x-10 lg:w-[70vw] lg:h-[20vh] animated"
  >
    <img
      class="md:h-[18vh] md:w-[20vw] lg:h-[20vh] lg:w-[40vw]"
      src="/alex.jpeg"
      alt="slider-img"
    />
    <img
      class="md:h-[18vh] md:w-[20vw] lg:h-[20vh] lg:w-[40vw]"
      src="/kabiyesi.jpg"
      alt="slider-img"
    />
    <img
      class="md:h-[18vh] md:w-[20vw] lg:h-[20vh] lg:w-[40vw]"
      src="/wura.jpeg"
      alt="slider-img"
    />
    <img
      class="md:h-[18vh] md:w-[20vw] lg:h-[20vh] lg:w-[40vw]"
      src="/chetam.jpg"
      alt="slider-img"
    />
    <img
      class="md:h-[18vh] md:w-[20vw] lg:h-[20vh] lg:w-[40vw]"
      src="/siblings.jpg"
      alt="slider-img"
    />
  </div>
  <div class="absolute right-0 md:w-[15vw] md:h-[18vh] lg:w-[15vw] lg:h-[20vh] opacity-90">
    <img class="md:h-[18vh] md:w-[15vw] lg:h-[20vh] lg:w-[15vw]" src="/toprated.jpg" alt="top rated series" />
  </div>
</div>
