<nav class="h-[20vh] mt-4">
  <ul class="flex justify-between w-[30vw] text-xl bg-gray-50 px-5 py-2 rounded-tr-lg rounded-br-lg">
    <li>Home</li>
    <li>Series</li>
    <li>Contact us</li>
  </ul>
</nav>
