<nav class="h-[13vh] mt-4">
  <ul
    class="flex justify-between w-[30vw] text-xl bg-gray-50 px-5 py-2 rounded-tr-lg rounded-br-lg"
  >
    <a class="hover:underline" href="/"><li>Home</li></a>
    <a class="hover:underline" href="/series"><li>Series</li></a>
    <a class="hover:underline" href="/"><li>Contact us</li></a>
  </ul>
</nav>
