<div>
  <form class="flex justify-center mt-10 md:mt-12 lg:mt-8">
    <input
      type="search"
      placeholder="search Series"
      class="focus:outline-none bg-white w-[60vw] h-[5vh] md:w-[40vw] md:h-[5vh] lg:w-[40vw] lg:h-[9vh] rounded-s-lg pl-5"
      id="search"
    /><button type="submit" class="bg-blue-500 w-[12vw] md:w-[8vw] rounded-e-lg">Send</button>
  </form>
</div>
